.empty-state {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color-secondary;

  &__icon {
    font-size: xx-large;
  }

  &__message {
    font-weight: 600;
  }
}
