@use '../../abstracts/variables' as *;

.primary-button {
  background-color: $color-primary;
  color: #fff;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  width: fit-content;

  &.is-full {
    width: 100%;
  }
}
