{
  "plugins": ["prettier-plugin-import-sort"],
  "importOrder": ["^react$", "^@?\\w", "^(src|@)/", "^[./]"],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true
}
