.chat-display {
  height: 90%;
  padding: 1rem 0.5rem 0 0.5rem;
  overflow-y: auto;

  &__message {
    width: fit-content;
    max-width: 70%;
    word-wrap: break-word;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    box-shadow: $shadow;

    &-received {
      background-color: $color-primary;
      margin-right: auto;
      color: #fff;
    }

    &-sent {
      background-color: $color-section;
      margin-left: auto;
    }
  }
}
