.footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &__menu-button {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
  }
}

.chat-input {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  &__button {
    width: 2.5rem;
    aspect-ratio: 1;
    font-size: 1.4rem;
    color: #fff;
    background-color: $color-primary;
    border-radius: $radius;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
