// 컬러 팔레트
$color-background: #fcfbfb; // 기본 배경
$color-section: #e3e2e2; // 섹션 배경
$color-primary: #333333; // 기본 텍스트, 강조
$color-secondary: #cac9c9; // 보조색

// 레이아웃
$layout-sm: 320px;
$layout-md: 600px;
