.layout-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__main {
    flex: 1;
    height: 100%;
    padding: clamp(1rem, 2vw, 2rem);
  }

  .header,
  .footer {
    padding: 0.5rem;
  }
}
