.layout-page {
  width: 100vw;
  min-height: 100vh;
  background-color: aqua;

  &__content {
    width: 100%;
    min-height: 100%;
    min-width: 320px;
    max-width: 600px;
    margin: 0 auto;
    background-color: beige;
  }
}
