.layout {
  height: 100vh;
  min-width: 320px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @include mixins.border;
  border-top: none;
  border-bottom: none;

  > * {
    padding: 0.5rem;
  }

  &__header,
  &__footer {
    height: 3.5rem;
    background-color: $color-section;
    display: flex;
    align-items: center;
  }

  &__main {
    flex: 1;
    overflow-y: scroll;
  }
}
