.header {
  height: 3rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  background-color: $color-section;
  border-radius: $radius;
  padding: 0 0.5rem;

  &__button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
