.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border: 2px solid black;

  &__logo {
    font-size: 24px;
    cursor: pointer;
  }

  &__profile {
    position: relative;

    &-button {
      border: none;
      background: none;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }

    &-image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  &__dropdown {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    width: 130px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 9999;

    &-username {
      font-size: 18px;
      font-weight: bold;
    }

    &-logout {
      width: 100%;
      border-top: 1px solid #ccc;
      margin-top: 12px;
      padding-top: 8px;
      font-size: 16px;
      text-align: left;
    }

    &-list {
      list-style: none;
      margin: 0;
      padding: 0;

      &-item {
        padding: 8px 16px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;

        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }
}
