.form-title {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.form {
  &__field-container {
    margin-bottom: 1.2rem;
  }

  &__label {
    font-weight: 300;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    :first-child {
      width: 60%;
    }
  }
}
