@use '../../abstracts/variables' as *;

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  &__input {
    width: 50%;
    border: 1px solid $color-secondary;
    border-radius: 8px;
    padding: 8px 16px;
  }
}
