.nav {
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--active {
      svg {
        color: $color-background;
      }
    }

    svg {
      font-size: 1.5rem;
    }

    p {
      font-size: 0.75rem;
    }
  }
}
