@use 'base/reset';
@use 'abstracts/variables' as *;
@use 'abstracts/fonts';

body {
  font-family: 'Pretendard', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $color-primary;
  background-color: $color-background;
}
