@use '../../abstracts/variables' as *;

.help-text {
  width: 100%;
  height: 300px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-items: center;
  border: 1px dashed $color-secondary;
  border-radius: 10px;

  &--no-data {
    margin: auto;
    color: $color-secondary;
    text-align: center;
  }
}
