@use '../../abstracts/variables' as *;

.gallery {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__main {
    height: 60vh;
    object-fit: contain;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    border-radius: 10px;
    background-color: $color-section;
  }

  &__sub {
    height: 10vh;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2%;
    padding: 4px 0;
    margin-top: 8px;
    overflow: hidden;

    &-image {
      width: 19%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}
