.info {
  &__header {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 10px 0 20px 0;
  }

  &__title {
    flex: 1;
    word-wrap: break-word;
  }

  &__category {
    width: fit-content;
    background-color: $color-section;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
  }

  &__desc {
    margin: 10px 0;
    border: 1px solid $color-secondary;
    padding: 10px;
    border-radius: 10px;
  }
}
